<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiniela</title>
  <link rel="stylesheet" href="/sPuntuaciones.css">
</head>
<body>
  <div class="container">

    <div class="barraNav">
      <div class="contenido">
        <a href="/Home" class="btn-contenido" id="Quiniela">Quiniela</a>
        <a href="/Puntuaciones" class="btn-contenido" id="Puntuaciones">Puntuaciones</a>
        <a href="/chats" class="btn-contenido">Chats</a>
      </div>

      <div class="perfilUserH">
        <img src="<%= fotoPerfil %>" class="perfil-imgH" id="perfilImg">
      </div>
    </div>

    <div class="contenidoRS">
      <div class="ranking-container">
      <img src="/Copa.png" alt="Copa izquierda" class="copa copa-left">

      <h2>Ranking de Puntuaciones</h2>
      <ul class="ranking-list"></ul>

      <h2>Mis recompensas</h2>
      <div id="misRecompensas" class="misRecompensas"></div>

      <img src="/Copa.png" alt="Copa derecha" class="copa copa-right">
    </div>

   <div class="status-container">
      <h2>Mi Status</h2>
      <div class="status-content">
        
        <div class="milestones-left">
          <div class="milestone" style="top: 0%;"><img src="https://res.cloudinary.com/dk4mmuzuf/image/upload/v1763752428/CopaInsignia_lphaoh.png" class="imgRecompensas"></div>
          <div class="milestone" style="top: 20%;"><img src="https://res.cloudinary.com/dk4mmuzuf/image/upload/v1763752412/Playera_b8uoox.png" class="imgRecompensas"></div>
          <div class="milestone" style="top: 40%;"><img src="https://res.cloudinary.com/dk4mmuzuf/image/upload/v1763752460/TachonesInsignia_kvh3zp.png" class="imgRecompensas"></div>
          <div class="milestone" style="top: 60%;"><img src="https://res.cloudinary.com/dk4mmuzuf/image/upload/v1763752440/GuantesInsignia_sfdqis.png" class="imgRecompensas"></div>
          <div class="milestone" style="top: 80%;"><img src="https://res.cloudinary.com/dk4mmuzuf/image/upload/v1763752389/BalonInsignia_hz2nf4.png" class="imgRecompensas"></div>
        </div>

        <div class="progress-bar">
          <div class="progress-fill" id="progressFill"></div>
          <div class="bar-marker" style="top: 20%;"></div>
          <div class="bar-marker" style="top: 40%;"></div>
          <div class="bar-marker" style="top: 60%;"></div>
          <div class="bar-marker" style="top: 80%;"></div>
        </div>

        <div class="status-info">
          <label class="titPoints">Mis puntos:</label>
          <p id="misPuntos" class="MyPoints"></p>
        </div>
      </div>
    </div>

    </div>
    
    <div class="menuH" id="dropdownMenu">
        <a href="/PerfilU">Perfil de Usuario</a>
        <a href="/logout">Cerrar Sesión</a>
    </div>

  </div>

  <script src="/menu.js"></script>
  <script>
    const username = "<%= user ? user.username : '' %>";
  </script>
  <script src="/puntuaciones.js"></script>
  <script src="/Quiniela.js"></script>
</body>
<!-- <script>
  const puntosActuales = 500; 
  const puntosMaximos = 10000; 

  const porcentaje = (puntosActuales / puntosMaximos) * 100;

  document.getElementById("progressFill").style.height = porcentaje + "%";

  document.getElementById("misPuntos").textContent = puntosActuales + " pts";
</script> -->

</html>